<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Lifebrain Infoscreen</title>
</head>
<body>
<div class="home-div">
<div style="text-align:center">
<h1>Lifebrain Covid-Labor<br>Infoscreen</h1>
<img src="{{ url_for('static',filename='images/logo.svg') }}" width="70px" height="66px"   margin="200" onclick="window.location.href = '/'">
</div>

<div style="text-align: center;">



    {% block content %}
    

    
    {% endblock %}
  <!-- show error messages -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

    <div class="loginbox">
        {% if current_user.is_authenticated %}
        Currently logged in as <b>{{ current_user.username }}</b>
        <b><a href="{{ url_for('home') }}">Home</a></b> |
        <b><a href="{{ url_for('editscreens') }}">Videos</a></b> |
        <b><a href="{{ url_for('logout') }}">Logout</a></b>
        {% else %}
        <b><a href="{{ url_for('home') }}">Home</a></b> |
        <b><a href="{{ url_for('login') }}">Login</a></b> |
        <b><a href="{{ url_for('register') }}">Register</a></b>
        {% endif %}
        </div>

</div>
</div>
</body>
</html>